<!DOCTYPE HTML>
<html>
    <head>
        <title>Show my CNFT</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Show my CNFT!!</h1>
    </body>
</html>